@import 'partials/User_Item';
@import 'mixins';
@import 'icon-font';
@import 'header';
@import 'search';

html, body {
  height: 100%;
  background: #eee;
  font-family: helvetica, arial, sans-serif;
  * {
    box-sizing: border-box;
    list-style-type: none;
    margin: 0;
  }
}
