* {
  list-style-type: none;
}
.myProfile{
  display: flex;
  flex-direction: row;
  .photo {
    width: 50%;
    height: 50%;
  }
  .info {
    width: 50%;
    height: 50%;
  }
  .skills {
    width: 50%;
    height: 50%;
  }
  .description {
    width: 50%;
    height: 50%;
  }
}
// UserItem component
.userItem{
  display: flex;
  flex-direction: row;
  .userPhoto{
    flex: 1;
    background: red;
  }
  .userInfo{
    flex: 1;
    background: green;
  }
  .userSkills{
    flex: 1;
    background: yellow;
  }
  .userBio{
    flex: 1;
    background: blue;
  }
}
